<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f923d584-a520-4071-9ce6-2b2f5bbb6b89/resourcegroups/fheckWebApiTest/providers/Microsoft.Web/sites/TeachersBookWebApi</ResourceId>
    <ResourceGroup>fheckWebApiTest</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://teachersbookwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>teachersbookwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TeachersBookWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TeachersBookWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TeachersBookEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=teachersbook.database.windows.net;Initial Catalog=TeachersBook;Persist Security Info=True;User ID=florian.heck@googlemail.com@teachersbook.database.windows.net;Password=FH3ck0782!;Application Name=EntityFramework" Name="Data Source=teachersbook.database.windows.net;Initial Catalog=TeachersBook;Persist Security Info=True;User ID=florian.heck@googlemail.com@teachersbook.database.windows.net;Password=FH3ck0782!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TeachersBook_WebApi.TeachersBookEntities2, TeachersBook_WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TeachersBookEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=teachersbook.database.windows.net;Initial Catalog=TeachersBook;Persist Security Info=True;User ID=florian.heck@googlemail.com@teachersbook.database.windows.net;Password=FH3ck0782!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TeachersBookEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TeachersBookModel.csdl|res://*/TeachersBookModel.ssdl|res://*/TeachersBookModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=teachersbook.database.windows.net;initial catalog=TeachersBook;persist security info=True;user id=florian.heck@googlemail.com@teachersbook.database.windows.net;password=FH3ck0782!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TeachersBookEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=teachersbook.database.windows.net;Initial Catalog=TeachersBook;Persist Security Info=True;User ID=florian.heck@googlemail.com@teachersbook.database.windows.net;Password=FH3ck0782!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TeachersBookEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TeachersBookModel.csdl|res://*/TeachersBookModel.ssdl|res://*/TeachersBookModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=teachersbook.database.windows.net;initial catalog=TeachersBook;persist security info=True;user id=florian.heck@googlemail.com@teachersbook.database.windows.net;password=FH3ck0782!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TeachersBookEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TeachersBookEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="TeachersBookEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/TeachersBookModel.csdl|res://*/TeachersBookModel.ssdl|res://*/TeachersBookModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=teachersbook.database.windows.net;Initial Catalog=TeachersBook;Persist Security Info=True;User ID=florian.heck@googlemail.com@teachersbook.database.windows.net;Password=FH3ck0782!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>