.btn {
  color: #34495e;
}
.btn:hover {
  background-color: #d35400;
  color: white;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
select {
  border: solid 1px #34495e !important;
  border-radius: 5px !important;
  background-color: transparent !important;
}
select:focus {
  box-shadow: none !important;
}
option {
  background-color: transparent !important;
  border: none !important;
}
.btn-primary {
  background-color: #d35400;
  border-color: #d35400;
  color: white;
  margin: 0px 5px;
}
.btn-primary:hover {
  background-color: #e28242;
  border-color: #e28242;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #e28242;
  border-color: #e28242;
}
.btn-secondary {
  background-color: #34495e;
  border-color: #34495e;
  color: white;
  margin: 0px 5px;
}
.btn-secondary:hover {
  background-color: #4c6176;
  border-color: #4c6176;
  color: white;
}
.form-group-icon {
  float: left;
  margin-right: 5px;
}
input {
  border: none;
  border-bottom: 1px solid #424242;
  display: inherit;
  width: 100%;
}
input:hover,
input:focus {
  border-bottom: 1px solid #d35400;
  outline: none;
}
.button-list-container {
  float: left;
}
