.login-container {
  padding-top: 20vh;
}
.login-card {
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.login-logo {
  height: 145px;
  margin-bottom: 15px;
}
.login-form-group {
  border: solid 1px #34495e;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.login-form-group input {
  margin-left: 10px;
  border: none;
  width: calc(100% - 30px);
}
.login-form-group input:focus {
  outline: none;
}
.login-form-group svg {
  color: #d35400;
}
