@media only screen and (min-width: 960px) {
  .menu-container {
    width: 265px;
    float: left;
  }
}
@media only screen and (min-width: 960px) {
  .menu-container-shrinked {
    width: 111px;
    float: left;
  }
}
@media only screen and (max-width: 719px) {
  .menu-container-shrinked {
    width: 35px;
    float: right;
  }
}
.menu-bar {
  background-color: #34495e;
  height: calc(100vh - 90px);
}
@media only screen and (min-width: 960px) {
  .menu-link {
    height: 40px;
    margin: 5px 15px;
    border-radius: 4px;
    color: white;
    padding: .5rem 1rem;
    display: block;
    text-decoration: none;
  }
}
@media only screen and (max-width: 719px) {
  .menu-link {
    height: 40px;
    margin: 5px 15px;
    border-radius: 4px;
    color: white;
    padding: .5rem 1rem;
    display: block;
    text-decoration: none;
  }
}
@media only screen and (min-width: 960px) {
  .menu-link-shrinked {
    height: 40px;
    margin: 5px 0px;
    border-radius: 4px;
    color: white;
  }
}
.menu-link:hover {
  background-color: #d35400;
  color: white;
  text-decoration: none;
}
.menu-bar-icon {
  float: left;
  margin-right: 10px;
}
.menu-bar-icon-shrinked {
  float: left;
  margin-right: 0px;
}
.menu-text-visible {
  display: block;
}
.menu-text-hidden {
  display: none;
}
@media only screen and (min-width: 960px) {
  .menu {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 960px) {
  .menu-expand {
    width: 230px;
    margin: 20px 0px 15px 15px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 719px) {
  .menu-expand {
    width: 100%;
    float: left;
    position: absolute;
    margin-top: 35px;
    z-index: 1000;
  }
}
@media only screen and (min-width: 960px) {
  .menu-shrinked {
    width: 80px;
    margin: 20px 0px 15px 15px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 719px) {
  .menu-shrinked {
    display: none;
  }
}
.menu-expander {
  color: #34485d;
}
@media only screen and (min-width: 960px) {
  .menu-expander {
    margin-left: 15px;
    padding: 25px 0px 0px 25px;
  }
}
@media only screen and (max-width: 719px) {
  .menu-expander {
    padding: 0px;
    float: right;
    margin-right: 15px;
  }
}
.menu-logo {
  padding: 25px;
}
