.tab-content {
  margin: 15px 0px 0px 0px;
}
.nav-pills-left-space {
  float: left;
  width: calc(100% - 35px);
}
.nav-pills-action-button {
  float: right;
  cursor: pointer;
}
.nav-pills-action-button :hover {
  color: #d35400;
}
.nav-pills-action-button-float-left {
  float: left;
  cursor: pointer;
  margin-left: 5px;
}
.nav-pills-action-button-float-left :hover {
  color: #d35400;
}
