.timetable-add-subject-button {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.timetabel-subject-container {
    display:table-cell;
    height:100%;
    width:100%;
}

.timetable-subject {
    border: 1px solid black;
    background-color: wheat;
    margin: 5px;
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    width: 140px;
}

.timetable-subject-dragable {
    cursor:grabbing;
}

.timetable-subject-wrapper {
    float:left;
}

.timetable-subject-text-wrapper {
    width:140px;
    height:30px;
    position:relative;
}

.timetable-subject-text {
    width:100%;
    position:absolute;
}

.timetable-remove-subject {
    width: 50%;
    height: calc(100% - 2px);
    position: absolute;
    z-index: 100;
    background-color: wheat;
    margin-left: calc(50% - 2px);
    opacity: 0;
    transition: opacity 0.3s linear;
    -webkit-transition-delay: 0.5s; /* Safari 4.0 - 8.0 */
    transition-delay: 0.5s;
}

.timetable-subject-choos-text {
    display:table-cell;
    vertical-align:middle;
    position:relative !important;
}

.timetable-subject-name {
    width: 75%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    height: 29px;
    padding-top: 3px;
}

.timetable-subject-class {
    width: 25%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    padding-top: 3px;
}

.has-subject:hover .timetable-remove-subject {
    opacity:0.85;
}

.timetable-break-row {
    background-color:wheat;
}

.timetable-hour-time-textbox {
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    width: 140px;
}

.timetable-hour-time-text {
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    height: 29px;
    padding-top: 3px;
}

.timetable-no-border {
    border-style:none;
}

.timetable-drag-source {
    opacity: .4;
}

.timetable-drag-over {
    border-style: dashed;
}

.timetable-subject-choos-text-wrapper {
    display:table;
}

.has-subject {
    
}

.timetable-inline-edit-wrapper {
    margin: 6px 0px 0px 0px;
}

.timetable-add-row {
    padding:0px;
    display:none;
}

.time-cell {
    
}

.time-cell:hover .timetable-add-row {
    display:inline;
}